/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: var(--bg-color, #fff);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s 0s linear;
}

.like-icon .main-body {
  fill: var(--bg-color, #fff);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.like-icon.is-liked .heart {
  animation: heartScale 0.3s ease-in 0.1s 1 alternate;
}

@keyframes sparksFill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparksFill 0.3s ease-in 0.3s 1 alternate;
}

.like-icon .contour {
  fill: var(--accent-color, #000);
  transition: fill 0.1s 0s linear;
}
